<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Diulect</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
  </head>
  <body style="width: 1008px; height: 740px;padding: 0!important; text-align: center; margin: 0!important; border: none; "> 
  </div>


    <div class="botones" style="width: 100%; height: 100%; margin: 0;  display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;">
      <button (click)="abrirRetenciones('retenciones')" class="btn btn-outline-success" style="width: 50%; height: 100%;font-size: 38px; border-radius: 5px;">Retenciones</button>
      <button class="btn btn-outline-primary" style="width: 50%; height: 100%;font-size: 38px; border-radius: 5px">Percepciones</button>
    </div>
    <script>
      const { ipcRenderer } = require('electron');
      src="src/ui/app.js"
    </script>

    <!-- Logic --
    <script>
      const { ipcRenderer } = require('electron');
      const products = document.querySelector('#products');

      // New Product
      ipcRenderer.on('product:new', (e, newProduct) => {
        const newProductTemplate = `
        <div class="col-xs-4 p-2">
        <div class="card text-center">
            <div class="card-header">
              <h5 class="card-title">${newProduct.name}</h5>
            </div>
            <div class="card-body">
              ${newProduct.description}
              <hr>
              ${newProduct.price} $
            </div>
            <div class="card-footer">
              <button class="btn btn-danger btn-sm">
                DELETE
              </button>
            </div>
        </div>
        </div>
      `;
        products.innerHTML += newProductTemplate;
        const btns = document.querySelectorAll('.btn.btn-danger');
        btns.forEach(btn => {
          btn.addEventListener('click', e => {
            e.target.parentElement.parentElement.parentElement.remove();
          });
        })
      });

      // Remove All Products
      ipcRenderer.on('products:remove-all', e => {
        products.innerHTML = '';
      });

      // Remove Single Product
      function removeProduct(e) {
      }
    </script>
  </body>
</html>
